nav {
  padding: 0.5rem 1rem;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;

    li {
      display: flex;
      align-items: center;

      a {
        display: flex;
      }

      &:last-child {
        a {
          margin-left: 1rem;
          &.index {
            display: none;
          }
          @media screen and (max-width: $mobile-breakpoint) {
            img {
              max-width: 100px;
            }
          }
        }
      }
    }
  }
}
