.post {
  position: relative;
  background: url("/assets/now-playing-texture.webp") 0% 0% / contain repeat;
  padding-bottom: 10rem;

  overflow: hidden;
  @media screen and (max-width: $mobile-breakpoint) {
    padding-bottom: 0;
  }
  .bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 103%;
    z-index: -1;
    pointer-events: none;
    object-position: 50% 50%;
    object-fit: cover;

    @media screen and (max-width: $mobile-breakpoint) {
      bottom: 0;
      margin: auto;
      object-position: 50% 50%;
      height: 108%;
    }
  }
  &__header {
    text-align: center;
    padding: $gutter 2rem $spacer;
    position: relative;

    @media screen {
      padding: $spacer 2rem 2rem;
    }
    h2 {
      color: $color-red;
      position: relative;
      @media screen and (max-width: $mobile-breakpoint) {
        br {
          display: none;
        }
      }
    }
    p {
      margin-top: 1rem;
      color: $color-black;
    }
  }

  &__grid {
    color: $color-black;
    padding: 0 calc(min(6vw, 115px));

    &--row {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: calc(min(6vw, 115px));
      position: relative;

      @media screen and (max-width: $mobile-breakpoint) {
        grid-template-columns: 1fr;
        text-align: center;
      }

      &:not(:last-child) {
        margin-bottom: 4rem;
        padding-bottom: 4rem;
        @media screen and (max-width: $mobile-breakpoint) {
          margin-bottom: 2rem;
          padding-bottom: 2rem;
        }
        &:before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          background: url("/assets/h-line.svg") no-repeat;
          width: 100%;
          height: 3px;
        }
      }

      .red {
        color: $color-red;
        margin-top: 1.5rem;
      }
    }

    &--cell {
      align-self: center;
      &:nth-child(1) {
        display: flex;
        align-items: flex-start;
        text-align: center;
        justify-content: center;
        position: relative;
        padding: 0 4vw 0 0;
        min-width: 28vw;
        height: 100%;

        @media screen and (max-width: $mobile-breakpoint) {
          justify-content: center;
          padding: 0;
          order: 2;
        }
        &::before {
          content: "";
          position: absolute;
          right: 0;
          top: 0;
          background: url("/assets/v-line.svg") 0% / cover no-repeat;
          width: 3px;
          height: 100%;
          @media screen and (max-width: $mobile-breakpoint) {
            content: unset;
          }
        }

        .times {
          margin: 1rem 0 3rem;
          display: grid;
          grid-auto-flow: column;
          grid-auto-columns: 1fr;
          gap: 1rem;
          white-space: nowrap;
          @media screen and (max-width: $mobile-breakpoint) {
            white-space: unset;
          }
          .group {
            display: flex;
            flex-direction: column;
            align-items: center;
            .text__size-small {
              margin: 0.2rem 0;
            }
            a {
              margin-top: 0.5rem;
              display: block;
              color: $color-red;
              text-decoration: underline;
              font-family: $font-body-c;
              line-height: 1;
            }
          }
        }
        .inner {
          align-self: center;

          .month {
            margin-bottom: 1rem;
          }
          .text__size-2 {
            color: $color-red;
          }
        }
      }

      &:nth-child(2) {
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: $mobile-breakpoint) {
          flex-direction: column;
          img {
            width: 70%;
            margin: auto auto 2rem;
          }
        }
        .content {
          margin-left: calc(min(6vw, 115px));

          @media screen and (max-width: $mobile-breakpoint) {
            margin-left: 0;
            margin-bottom: 2rem;
          }
          h3 {
            margin-bottom: 0.5rem;
          }
          .text__size-4 {
            margin: 1rem 0 0rem;

            &:first-of-type {
              margin: 0.2rem 0 1rem;
            }
          }
        }
      }

      .synopsis {
        margin: 0.5rem 0;
      }
    }

    &--cta {
      text-align: center;
      color: $color-red;
      padding: $spacer 0;
      a {
        display: block;
        margin-top: 1rem;
      }
    }
  }

  &.--coming-soon {
    color: $color-white;
    .post__header {
      h2 {
        color: $color-white;
      }
    }

    .post__grid {
      color: $color-white;

      &--row {
        &:before {
          background: url("/assets/h-line-white.svg") no-repeat;
        }

        .red {
          color: $color-white;
        }
      }
      &--cell {
        &:nth-child(1) {
          &::before {
            background: url("/assets/v-line-white.svg") 0% / cover no-repeat;
          }
          .times {
            a {
              color: $color-white;
            }
          }
          .text__size-2 {
            color: $color-white;
          }
        }
      }
    }
  }
}
